body {
    font-family: sans-serif;
    padding: 2rem;
    max-width: 600px;
    margin: auto;
}

input,
button,
textarea {
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
}

.create.feature>* {
    display: block;
}

.Feature {
    background-color: red;
}

.Feature.enabled,
.Feature:has(.selected:checked) {
    background-color: green;
}

.Footer {
    text-align: center;
    margin-top: 4em;
    font-size: 0.8em;
}
