:root {
    --color-green: #336953;
    --color-lightgreen: #bbd5b0;
    --color-darkgreen: #192422;

    --color-red: #693337;
    --color-lightred: #daceca;
    --color-darkred: #3b2426;

    --color-00: #131212;
    --color-01: #24191d;
    --color-02: #3b2426;
    --color-03: #693337;
    --color-04: #daceca;

    --color-bg: var(--color-01);
    --color-fg: var(--color-04);
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

body {
    font-family: sans-serif;
    max-width: 600px;
    margin: auto;

    display: grid;
    gap: 1em;

    height: 100vh;

    grid-template-rows: auto 1fr auto;

    background-color: var(--color-bg);
    color: var(--color-fg);
}

input,
button,
textarea {
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
}

.create.feature>* {
    display: block;
}

.feature-grid {
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: strecth;

    gap: 0.5em;
}

.feature-grid li {
    list-style: none;
    /* padding: 0.5em; */
    margin: 0;
}

.Feature {
    background-color: var(--color-red);
    color: var(--color-lightred);
    padding: 0.5em;

    height: 8em;

    border: 2px solid var(--color-darkred);
    border-radius: 4px;
}

.Feature.enabled,
.Feature:has(.selected:checked) {
    background-color: var(--color-green);
    color: var(--color-lightgreen);

    border-color: var(--color-darkgreen);
}

.Feature li:not(:first-child) {
    margin-top: 1em;
    font-size: 0.8em;
}

.Footer {
    text-align: center;
    font-size: 0.8em;

}

.Header {
    padding-top: 3em;
}

.Footer {
    padding-bottom: 1em;
}
